*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
.top{
	width:960px;
	margin:0 auto;
	padding:50px 0 50px 0;
}
.list{
	padding: 20px;
}
.list:nth-of-type(odd){
background-color: #797979
}

.middle{
	padding-bottom:50px;
	margin:0 auto;
	width:960px;
}
.box{
	display:inline-block;
	float:left;
	height:200px;
	width:30%;
	margin-right:5%;
	margin-bottom:40px;
	background-color:#797979;
	border:1px solid black;
}
.box:nth-child(3n){
margin-right:0;
}
.orange{
	background-color: orange;
}
.yellow{
	background-color: yellow;
}
.last{
	margin-bottom:0;
}

